/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fredoka', sans-serif;
}

h1 {
  color: #E53C70;
  padding: 50px 0 40px;
  text-align: center;
  font-size: 2.5rem;
}


/* COMPONENTS */

.container {
  width: 90%;
  max-width: 12000px;
  margin: 0 auto;
}


/* UTILITY */

.clearfix::after {
  content:" ";
  display: table;
  clear: both;
}

.debug {
  background-color: rgba(0, 255, 255, 0.5);
}


/* MAIN */

.intro-text {
  font-size: 1.1rem;
  text-align: center;
  padding: 0 16px;
  margin-bottom: 50px;
}

.col {
  width: calc(100% / 3);
  padding: 0 16px;
  min-width: 344px;
  margin-bottom: 50px;
  float: left;
}

.card {
  background-color: #0F0E17;
  color: #ffffff;
  box-shadow: 0px 0px 10px #888888;
}

.card .avatar {
  width: 100px;
  float:left;
}

.contents {
  float: right;
  min-width: calc(100% - 100px - 16px) 
}

.card .name {
  text-transform: uppercase;
  margin: 16px 0 6px;
}

.card .position {
  display: block;
  margin-bottom: 6px;
}

.card a {
  color: #62C5E1;
  text-decoration: none;
 }

.card a:hover{
  text-decoration: underline;
 }


