/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sixing: border-box;
}

body {
  font-family: 'Fredoka', sans-serif;
}


/* COMPONENTS */

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 0;
}



/* UTILITY */

.debug {
  background-color: rgba(0, 255, 255, 0.5);
}

.debug-1 {
  background-color: rgba(37, 24, 124, 0.5);
}

.debug-2 {
  background-color: rgba(215, 80, 231, 0.5);
}


/* SECTION */

.container > h2 {
  color: #E53C70;
  font-size: 2rem;
  padding: 10px;
}

.container > p {
  padding: 25px 0;
}

.container > h2, .container > p {
  text-align: center;
}
